<!DOCTYPE html>
<html>
  <head>
    <title>Hello Friend!</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1>Add a thing!</h1>
    <form action="/results" method="post">
      <label for="thing">Type in a thing</label>
      <input type="text" name="thing">
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
